.Auth {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 1px;
    background: #eee;
    box-sizing: border-box;
}

.Auth input{
  display: block;
  margin: 12px auto 15px auto;
  max-width:60%;
  background: #ccc;
  font-family: 'Open Sans', sans-serif;
  height:32px;
  line-height:24px;
  font-size:22px;
  padding: 3px 8px 3px 12px;
  border:solid 1px #ccc;
  box-shadow: 0 0px 3px #ccc;
  transition: 0.3s ease-in;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.Auth input:focus{
    border:solid 1px grey;
    outline:none
}
.Auth input::placeholder{
  color: black;
  margin-left: 6px;
	font-weight: lighter;
	opacity: 1;
}

.Auth input.invalid{
  border-color: #00c4c3;
}

.AuthButton {
  display: block;
  margin: 12px auto 12px auto;
  justify-content: center;
  font-weight: lighter;
  width: 45%; 
  padding: 10px 0;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 12px;
  color: black;
  transition: 0.3s ease-in;
  -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

.AuthButton:hover{
  cursor: pointer;
  color: #00c4c3;
  border: 1px solid grey;
  box-shadow: 0px 1px 2px 0px #eee;
}
.AuthButton:focus{
  outline: none;
}

.Auth h2{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
}

.FacebookLogin,
.GoogleLogin {
    /* position: relative; */
    display: flex;
    background: white;
    text-align: center;
    justify-content: center;
    margin: 8px auto 8px auto;
    /* height: 1.5em; */
    color: black;
    width: 45%;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease-in;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.FacebookText {
  display: inline;
  left: 21%;
  bottom: 28%;
  position: absolute;
}

.GoogleSVG,
.FacebookSVG {
  display: inline;
  left: 32%;
  top: 87.25%;
  position: absolute;
}

.GoogleLogin:hover {
  cursor: pointer;
  color: black;
  border: 1px solid black;
}

.FacebookLogin:hover {
  cursor: pointer;
  color: black;
  border: 1px solid black;
}
.SwitchAuthButton {
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  border: none;
  background: none;
  font-size: 12px;
}

.SwitchAuthButton:hover{
  color: #00c4c3;
}
.SwitchAuthButton:focus{
  outline: none;
}

.Auth p{
  margin: 0 0 0 10px;
  text-align: left;
  font-family: Open Sans;
  line-height: 20px;
  font-size: 14px;
  color: white;
  transition: 0.3s ease-out;
}

.UsernameError{
  position: absolute;
  top: 30%;
  left: 63%;
  min-width: 300px;
  z-index: 1;
  display: inline-block;
  justify-content: center;
  background: #00c4c3;
  color: white;
  padding: 9px;
  margin: 2px 0 0 80px;
}

.EmailError{
  position: absolute;
  top:  40%;
  left: 63%;
  min-width: 300px;
  z-index: 1;
  display: inline-block;
  justify-content: center;
  background: #00c4c3;
  color: white;
  padding: 9px;
  margin: 2px 0 0 80px;
}

.PasswordMessages{
  position: absolute;
  top: 53%;
  left: 63%;
  min-width: 300px;
  z-index: 1;
  display: inline-block;
  background: #00c4c3;
  color: white;
  padding: 0px;
  margin: 0px 0 0 80px;
  
}
.PasswordMessages::after{
width: 0;
height: 0;
border-style: solid;
border-width: 15px 26.0px 15px 0;
border-color: transparent #00c4c3 transparent transparent;
}

@media screen and (max-width: 640px) {
    .Auth{
      width: 100%;
    }
    .Auth input{
      display: block;
      margin: 12px auto 15px auto;
      max-width:90%;
      font-family: 'Open Sans', sans-serif;
      height:30px;
      line-height:20px;
      font-size:22px;
      border:solid 2px #ccc;
    }

   .FacebookLogin,
    .GoogleLogin {
      width: 50%;
    } 
    .GoogleSVG,
    .FacebookSVG {
      display: inline;
      left: 30%;
    }
    .FacebookText{
      margin-left: 8%;
    } 

}