.ReadingCompQuestionElement{
	border-bottom: 1px solid #eee;
}

.ReadingCompQuestionWrapper{
	display: flex;
	flex-direction: row;
}

.ReadingCompQuestionWrapper p {
	margin: 2px 2px 0 12px;

}

.ReadingCompQuestion {
	border-bottom: 1px solid #eee;
	width: 100%;
	margin: 5px;
	padding: .5rem;
}

.ReadingCompOption{
	display: flex;
	flex-direction: row;
	padding: .2rem .5rem .2rem .7rem;
	margin: 8px;
}

.QuestionCheckLabel {
	margin: 0 2px;
}

.QuestionCheckBox{
	margin: 0 2px;
}

.QuestionMessage{
	color: orange;
	text-align: center;
	margin-top: 10px;
}

.HighlightButton {
	display: block;
	margin: 23px 0 8px 80%;
	text-align: center;
	font-weight: lighter;
	width: 90px; 
	
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
	font-size: 18px;
	color: black;
}


.HighlightButton:hover {
	cursor: pointer;
	color: #00c4c3;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 2px 0px #eee;
}