.InputOptionWrapper{
  width:84%;
  margin: 18px 8%;
}

.optionCheck {
  display: inline-block;
  margin-top: 10px;
}

input.InputOption{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 92%;
  margin:10px 0 10px 15px;
  border-top:none;
  border-left:none;
  border-right:none;
  background: none;
  height:25px;
  line-height:25px;
  font-size:18px;
  border-bottom:solid 1px #ccc;
  transition:all .23s ease-in;
  outline: none;
}

.InputOption:focus{
  border-bottom:solid 1px grey;
}
.RemoveOption{
  display: inline;
}

.RemoveOption:hover{

  cursor: pointer;
  fill: #00c4c3;
}

@media screen and (max-width: 640px) {
  .InputOption {
    margin: auto;
  }
  .optionCheck {
    display: inline;
    margin-left: -10px;
  }
  .InputOption {
    height:16px;
    width: 88%;
    line-height:16px;
    font-size:14px;
    margin:2px 0 2px 3px;
  }
}