.Sentence {
	display: block;
	margin: auto;
	padding:1%;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-align: center;
	justify-content: center;
	font-weight: lighter;
	width: 100%;
	transition: 0.2s ease-in;
}

.FirstPart {
	display: inline;
}

.SecondPart {
	display: inline-block;
}
#period{
	display: block;
	margin: auto;
}

.Sentence h3 {
	display: inline;
	margin-top: 5px;
	line-height: 55px;
	font-weight: lighter;
	margin-bottom: 0;
}

.Sentence form {
	display: inline;
}

.GameInput input{
	display: inline;
	margin-left: -10px;
}

.enter .error{
		text-align:center;
		margin:5px 0;
		padding:5px 10px;
		color:#c92c43
}

.incorrect {
	text-align:center;
	margin:5px 0;
	padding:5px 10px;
	color:#c92c43
}

.correct {
	text-align:center;
	margin:5px 0;
	padding:5px 10px;
	color:#00c4c3
}

.SentenceSpace{
	margin: 0 0 20px 0;
}


@media screen and (max-width: 640px) {
	.Sentence {
		display: block;
		margin: 25px auto 0 auto;
		font-size: 22px;
	}
}