.BackButtonLesson {
	font-weight: lighter;
	background-color: white;
	border: 1px solid #ccc;
  	font-size: 18px;
  	color: black;
	padding: 8px 24px;
  	background: white;
  	margin: 4px;
  	outline: none;
}

.BackButtonLesson:hover {
	cursor: pointer;
	color: #00c4c3;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 2px 0px #eee;
}


.LessonAwesomeOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 18%;
    margin: -40px 0 22px 84%;
}
.LessonAwesomeIcons{
	margin: 0 auto 0 auto;
	text-align: center;
	border: none;
	transition: 0.3s;
}
.LessonAwesomeIcons.fa-plus-circle,
.LessonAwesomeIcons.fa-share-square,
.LessonAwesomeIcons.fa-times-circle,
.LessonAwesomeIcons.fa-star{
	display: inline;
	margin: 4px 8px;
}

.LessonAwesomeIcons .fa-plus-circle:hover{
	cursor: pointer;
	color: #6aeac8;
}
.LessonAwesomeIcons .fa-star:hover{
	cursor: pointer;
	color: rgb(243, 243, 2);
}
.LessonAwesomeIcons .fa-share-square:hover{
	cursor: pointer;
	color: #6aeac8;
}

.LessonAwesomeIcons .fa-times-circle:hover{
    color: #ff8244;
    cursor: pointer;
}
.LessonAwesomeIcons .QuizToolTip{
    visibility: hidden;
    color: black;
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1;
    /* top: 100%;
    left: 50%; */
}
#lessonadd .QuizToolTip{
    margin:45px 0  0 -68px;
}
#lessonstar .QuizToolTip{
    margin:45px 0  0 -55px;
}
#lessonshare .QuizToolTip{
    margin:45px 0  0 -50px;
}
#lessondelete .QuizToolTip{
    margin:15px 0  0 -51px;
}
.LessonAwesomeIcons .QuizToolTip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent grey transparent;
  }
  .LessonAwesomeIcons:hover .QuizToolTip{
    visibility: visible;
}

.ExerciseButton {
	display: block;
	margin: 23px auto 8px auto;
	text-align: center;
	font-weight: lighter;
	width: 90px; 
	/* height: 25px;  */ 
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
	font-size: 18px;
	color: black;
} 

.ExerciseButton:hover {
cursor: pointer;
color: #00c4c3;
border: 1px solid #ccc;
box-shadow: 0px 1px 2px 0px #eee;
}

.ExerciseButton:disabled {
color: black;
background-color: #d58282;
opacity: .7;

}
.ExerciseButton:focus {
text-decoration: none;
}
.ExerciseButton:disabled:hover {
cursor: auto;
}

.HomeFlex {
display: flex;
flex-direction: row;
margin: 10px auto 15px auto;
min-height: 25vh;
/*justify-content: space-around;
display: -webkit-flex;
-webkit-justify-content: space-around;*/
}

.HomeFlex > a {

background: white;
border-bottom: 6px solid #00c4c3;
box-shadow: 1px 1px 1px 2px #ccc;
border-radius: 1px;
  height: 93px;
  padding: 24px 0; 
width:150px;
margin: 6px auto 6px auto;
color: black;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 26px;
font-weight: 300;

}

.HomeFlex > a:hover {
cursor: pointer;
box-shadow: 1px 1px 2px 2px #ccc;
border-bottom: 6px solid yellow;
}
.HomeFlex > div {

  background: white;
  border-bottom: 6px solid #00c4c3;
  box-shadow: 1px 1px 1px 2px #ccc;
  border-radius: 1px;
  width: 150px;
  height: 93px;
  padding: 24px 0; 
  margin: 6px auto 6px auto;
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 300;
  
  }
  
  .HomeFlex > div:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px #ccc;
  border-bottom: 6px solid yellow;
}




.LessonTitle h1{
font-family: 'Open Sans', sans-serif;
border-bottom: 1px solid #ccc;
width: 70%;
margin: 8px 0 0 3%;
font-weight: 400;
}

.LessonTitle h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ccc;
	margin: 0 0 12px 4%;
}

.LessonSentencesWrapper {
width: 85%;
padding: 3%;
margin: auto;
/* background: white;
border: 1px solid #eee; */
/* box-shadow: 2px 1px 2px #ccc; */
}



.LessonSentence {
width: 90%;
margin: auto;
margin-bottom: 12px;
background: white;
border: 1px solid #eee;
box-shadow: 2px 1px 2px #ccc;
  
}

.LessonSentence p{
font-family: 'Open Sans';
font-size: 23px;
display: inline-block;
margin: 3% 0 0 3%;
}

.WordBank {
	position: fixed;
	top: 4.5rem;
	right: 0;
	max-height: 700px;
	overflow: scroll;
	margin: 12px auto;
	padding: 2%;
	background: white;
	width: 10%;
	border: 1px solid #eee;
	box-shadow: 2px 1px 2px #ccc;
	font-family: 'Open Sans', sans-serif;
	z-index: 1;
}

.WordBank h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 33px;
	margin: 0;
}

.WordBankLessonTab {
	display: inline-block;
	width: 85%;
}


.UsedWord {
	text-decoration: line-through;
}

/* @media screen and (max-width: 1315px) {

}
@media screen and (max-width: 1055px) {

} */
@media screen and (max-width: 640px) {

	.BackButtonLesson{
	  padding: 4px 12px;
	  font-size: 14px;

	}

	.HomeFlex {
	  display: flex;
	  flex-wrap: wrap;
	  width: 100%;
	  flex-direction: row;
	  margin: 10px auto 15px auto;
	  min-height: 25vh;
	  justify-content: space-evenly;
	  display: -webkit-flex;
	  -webkit-justify-content: space-evenly;
	}

	.HomeFlex > a {
		margin: 6px 6px;
	}

	.HomeFlex > div{
		margin: 6px 6px;
	}

	.ExerciseButton {
	display: block;
	margin: 15px auto 25px auto; 

	}
	.LessonAwesomeOptions{
		margin: -20px 0 0 77%;
	}

	.fa-plus-circle,
	.fa-share-square,
	.fa-times,
	.fa-star{
		display: inline;
		margin: 4px 4px;

	}


	.LessonSentence p{
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	display: inline-block;
	margin: 3% 0 0 3%;
	}


	.LessonSentence {
	width: 100%;
	display: inline-block;
	}

	.LessonSentencesWrapper {
	display: block;
	width: 90%;
	margin: auto;

	}

	.WordBank {
		top: 0;
		padding: 2%;
		max-height: 200px;
		overflow: scroll;
		background: white;
		margin: 0px auto 12px auto;
		width: 90%;
		box-shadow: 1px 1px 3px #ccc;
		font-family: 'Open Sans', sans-serif;
	}
	.WordBankAnswer{
		display: inline-block;
		margin: 0 12px;
	}

	.WordBankLessonTab {
		display: block;
		margin: auto;
		width: 95%;
	}

}