.Backdrop {
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: rgba(0,0,0,0.7);
    transform: translateZ(100);
}


.BackdropOpen {
    display: block;
}

.BackdropClosed {
    display: none;
}