.AddHighlight{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  background: none;
  background-color: none;
  border: 1px solid #ccc;
  display: inline-block;  
  outline: none;
}
.AddHighlight:hover{
  cursor: pointer;
  color: #00c4c3;
}

.ReadingQuestionTable table, tbody, td{
  border: 1px solid grey;
  text-align: left;
  background: white;
  font-family: 'Open Sans', sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
}



.ReadingQuestionTable table {
  border-collapse: collapse;
  width: 100%;
}

input.ReadingQuestionTableInput{
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 98%;
  margin: 2px auto;
}

.CreateReadingLesson {
  width: 90%;
  margin: auto;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 9px #ccc;
  border-radius: 4px;
  padding: 16px;
  /* text-align: center; */
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: black;
}

p.Message{
  color: orange;
  display: block;
  margin: 0 auto 8px auto;
  clear: both;
}

.ElementAddReadingButtonWrapper {
  background-color: none;
  border-style: none;
  margin: auto;
  outline: none;
}

.ShowDiv{
  position: absolute;
  display: inline-block;
  justify-content: center;
  z-index: 99;
  background: #00c4c3;
  color: white;
  width: 5.9em;
  margin: 15% auto 0 3%;
}

.Element:hover {
  cursor: pointer;
  fill: #00c4c3;
}

.InputReadingSentenceWrapper {
    position: relative;
    display: block;
    width: 80%;
    margin: 12px auto;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: white;
    color: black;
}

.InputReadingSentenceWrapper p{
  float: left;
  margin: 0 0 0 5px;
  color: black;
}

.InputWrapper p{
  color: orange;
}



.CreateReadingLesson textarea {
    width: 88%;
    height: 12vh;
    padding: 12px 20px;
    margin: 12px 6%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white /*#f8f8f8;*/ ;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    resize: vertical;
}


.ToggleReadingMode {
  width: 140px;
  height: 80px;
  margin: -24px 0 0 88%;
  font-size: 18px;
  display: inline-block;
  clear: left;
  background: #00c4c3;
  color: white;
  border: none;
  outline: none;
}

.ToggleReadingMode:hover {
  color: black;
  border: initial;
}

.ToggleReadingMode:disabled {
  background: #00c4c3;
  opacity: .5;
  color: black;
}
.InputHighlight,
.InputQuestion{
  font-family: Open Sans, sans-serif;
  display: block;
  width:90%;
  margin: 22px auto 18px auto;
  border-top:none;
  border-left:none;
  border-right:none;
  background: none; 
  height:30px;
  line-height:28px;
  font-size:26px;
  border-bottom:solid 2px #ccc;
  transition:all .23s ease-in;
  outline:none;
}

.InputInsertOption{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 42%;
  margin:10px 0 10px 15px;
  border-top:none;
  border-left:none;
  border-right:none;
  background: none;
  height:25px;
  line-height:25px;
  font-size:18px;
  border-bottom:solid 1px #ccc;
  transition:all .23s ease-in;
  outline: none;
}

.InputInsertOption:focus{
  border-bottom:solid 1px grey;
}
.InputInsertButton{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 0 0 8px;
  position: relative;
  background: none;
  background-color: none;
  border: 1px solid #ccc;
  display: inline-block;  
  outline: none;
}
.InputInsertButton:hover{
  cursor: pointer;
  color: #00c4c3;
}

.InputInsertRadio{
  display: inline-block;

}

.InputHighlight{
  height:22px;
  line-height:22px;
  font-size:18px;
  margin: 8px auto 10px auto;
  width: 80%;
}

.OmissionHighlight{
  background-color: aqua;
}

.InputHighlight:focus,
.InputQuestion:focus{
  outline:none;
  border-bottom:solid 2px grey;
}

.RotateElement{
  border-radius: 50%;
  font-size: 16px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  box-shadow: 0px 0px 4px #ccc;
}

.RotateElement:hover{
  box-shadow: 0px 0px 8px #ccc;
}

#forward{
  left: 99%;
  padding-left: 3px;
}

#backward{
  right: 99%;
  padding-right: 3px;
}

.addandremove-enter {
  opacity: 0;
}

.addandremove-enter.addandremove-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.addandremove-leave {
  opacity: 1;
}

.addandremove-leave.addandremove-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}


.slide-enter {
  transform: translateX(-100%);
}

.slide-enter.slide-enter-active {
  animation: slide-in 200ms ease-out forwards;
}

.slide-leave {
  transform: translateX(0%);
}

.slide-leave.slide-leave-active {
  animation: slide-out 300ms ease-out forwards;
}

  @keyframes slide-in{
    from {
      transform: translateX(-100%)
    }
    to {
      transform: translateX(0%)
    }
  }

  @keyframes slide-out{
    from {
      transform: translateX(0%)
    }
    to {
      transform: translateX(100%)
    }
  }

@media screen and (max-width: 830px) {
  .ToggleReadingMode{
    width: 120px;
    height: 60px;
    margin: -26px 0 0 70%;
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .ToggleReadingMode{
    width: 120px;
    height: 60px;
    margin: -26px 0 0 70%;
    font-size: 14px;
  }

  textarea {
    width: 95%;
  }

  .BackButton{
    padding: 0;
    font-size: 14px;
    width: 55px;
    height: 18px;
  }

  .InputHighlight,
  .InputQuestion{
    margin: 18px auto 0 auto;
    height:20px;
    line-height:18px;
    font-size:16px;
  }

  .CreateLesson{
    width: 90%;
  }

  .InputReadingSentenceWrapper {
   clear: both;
    width: 90%;
  }
}